.badge {
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    padding: 4px 8px 4px 6px;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 500;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.32);
    :global(.MuiSvgIcon-root) {
        font-size: 14px;
    }
}

.goBack {
    background-color: rgb(228, 228, 228);
    border-radius: 20px;
    padding: 4px 12px 4px 10px;
    font-size: 14px;
    display: flex;
    align-items: center;
    font-weight: 500;
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.32);
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.32);
    :global(.MuiSvgIcon-root) {
        font-size: 14px;
    }
}

.actionsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.titleContainer {
    text-align: left;
    padding-bottom: 4px !important;
}

.contactContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.title {
    margin-bottom: 10px;
    font-weight: 500 !important;
}
.card {
    box-shadow: none !important;
}

.descriptionContainer {
}

.phoneNumber {
    display: flex;
    align-items: left;
    margin-bottom: 10px;
    span {
        .phoneIcon {
            margin-right: 8px;
        }

        .phoneText {
            // margin-top: 1px;
        }
        color: #fff;
        display: flex;
        align-items: left;
        padding: 10px 10px 8px 10px;
        border-radius: 20px;
        background-color: blue;
    }
}
