.mapContainer {
    height: 85vh;
    width: 100%;
}

.markerContainer {
    position: absolute;
    transform: translate(-50%, -50%);
}

.markerContent {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
}

.markerImage {
    cursor: pointer;
}